<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= locals.title %></title>
  </head>
  <body>
    <h1><%= locals.message.text %></h1>

    <p><strong>Author:</strong> <%= locals.message.user %></p>
    <p><strong>Added:</strong> <%= locals.message.added %></p>

    <a href="/">Back to Messages</a>
  </body>
</html>
