<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form action="/new" method="POST">
        <label>Author
            <input type="text" name="author" value= "" />
        </label>
        <label>Message
            <input type="text" name="message" value= "" />
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>